@font-face {
    font-family: invasionfont;
    src: url(src/font.ttf);
  }

body {
    background-color: #16112f; /* Your selected orange color */ 
    color: #16112f; /* Ensure good contrast on orange */
}

header {
    background-color: #16112f; /* Orange */
    color: #128fd2; /* White text */
    text-align: center;
    padding: 2px 4;
    font-family: invasionfont;
    font-size: 30px;
}

#mainImage {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    display: block;
}

#newsSection {
    background-color:  #032436; /* Dark Blue */
    padding: 30px;
    margin: 30px 0;
    color: #fff; /* White text */
}

#newsHeader {
    text-align: center;
    padding: 2px 4;
    font-family: invasionfont;
    font-size: 100px;
}

#newsContent {
    font-size: 18px; /* Larger font size for news section */
    line-height: 1.5; /* Leading for readability */
    font-family: font;
}

a {
    color: #007bff; /* Blue color for the link */
    text-decoration: underline; /* Add underline */
}

#rulesHeader {
    text-align: center;
    padding: 0px 0;
    font-family: invasionfont;
    font-size: 30px;
}

#rulesContent {
    font-family: invasionfont;
    color:#00fffb;
    text-align: center; 
}

#result {
    font-family: invasionfont;
    color:#00fffb;
    text-align: center; 
}

#itemList {
    font-size: 20px;
    font-family: invasionfont;
    color:#00fffb;
    text-align: center; 
}

#username {
    align-content: center;
    text-align: center;
}

/* Add styling for the Button */

.button-container {
    display: flex; /* Allow horizontal placement of buttons */
    justify-content: space-between; /* Distribute buttons on opposing sides*/
    margin-bottom: 20px; /* Add some margin below the buttons */
}

.invasion-button, .alliance-button { 
    background-color: #032436; /* Orange color for the buttons */
    color: #fff; /* White text for the buttons */
    padding: 10px 20px; /* Add some button padding */
    border: none; /* Remove default button border */
    font-size: 16px; /* Adjust button font size */
    cursor: pointer; /* Let the user know it's clickable */
    border-radius: 5px; /* Add rounded corners */
    margin: 0 10px; /* Space between the buttons */
}

.shop-button { 
    background-color: #032436; /* Orange color for the buttons */
    color: #fff; /* White text for the buttons */
    padding: 10px 20px; /* Add some button padding */
    border: none; /* Remove default button border */
    font-size: 16px; /* Adjust button font size */
    cursor: pointer; /* Let the user know it's clickable */
    border-radius: 5px; /* Add rounded corners */
    margin: 0 0px; /* Space between the buttons */
    align-content: center;
}